/* Basic Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 10px;
}

header, main, aside, footer {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

header nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

#container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 20px;
  padding: 10px;
}

aside {
  grid-column: 1;
}

main {
  grid-column: 2;
}

form {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

form button {
  background-color: #3944F7;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #2C34C7;
}

#results div {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  background: #333;
  color: #fff;
}

@media (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
  }

  aside, main {
    grid-column: 1;
  }
}