/* General reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
}

header, footer, main, aside {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.navigation {
  position: fixed; 
  top: 20px;
  right: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navigation li {
  flex: 1;
}

.navigation a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

aside {
  grid-column: 1;
}

main {
  grid-column: 2;
}

footer {
  text-align: center;
  background-color: #f3f3f3;
}

header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  height: 100px; 
}